@model Domain.ProjectScanResult
@{
    ViewData["Title"] = "Home Page";
}

<hr />

<style type="text/css">
    table.tableizer-table {
        font-size: 12px;
        /*border: 1px solid #CCC;*/
        font-family: Arial, Helvetica, sans-serif;
    }


    .tableizer-table td {
        padding: 4px;
        margin: 3px;
        /*border: 1px solid #CCC;*/
    }

    .tableizer-table th {
        background-color: #104E8B;
        color: #FFF;
        font-weight: bold;
        font-size: large;
    }
</style>
<div class="row">

    <table class="tableizer-table">
        <thead><tr class="tableizer-firstrow"><th>Project:</th><th></th><th>@Html.DisplayFor(m => m.Name)</th><th></th></tr></thead>
        <tbody>
            <tr class="bg-info"><td>Release definitions:</td><td></td><td></td><td></td></tr>
            @foreach (var releaseDef in Model.ReleaseDefinitions)
            {
                <tr><td></td><td>@releaseDef.Name </td><td></td><td></td></tr>

                <tr class="bg-info"><td>Env:</td><td></td><td></td><td></td></tr>

                @foreach (var env in releaseDef.Environments)
                {
                    <tr><td></td><td>@env.Name</td><td></td><td></td></tr>

                    <tr><td></td><td></td><td>artifact filter</td><td>@env.ArtifactFilter</td></tr>

                    @foreach (var approver in env.PreDeployApprovers)
                    {
                        <tr><td></td><td></td><td>Pre-DeployApprovers </td><td>@approver</td></tr>
                    }
                }

            }

            <tr class="bg-info"><td>From Builds:</td><td></td><td></td><td></td></tr>

            @foreach (var buildDef in Model.BuildDefinitions)
            {

                <tr><td></td><td>@buildDef.Name</td><td></td><td></td></tr>
                <tr><td></td><td></td><td></td><td></td></tr>
            }
            <tr class="bg-info"><td>From Repositories:</td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td>dotnetcoresample</td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td>Require a minimum number of reviewers</td><td>V</td></tr>
            <tr><td></td><td></td><td>Has code reviewer</td><td>V</td></tr>
            <tr><td></td><td></td><td>Master branch is read-only</td><td>V</td></tr>

        </tbody>
    </table>

    <br />
    <br />

    <table class="tableizer-table">
        <thead>
            <tr class="tableizer-firstrow">
                <th>Last Releases</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr class="bg-info">
                <td>Id</td>
                <td>Name</td>
                <td>Description</td>
                <td>Status</td>
                <td>Tags</td>
                <td>CreatedBy</td>
                <td>CreatedOn</td>
            </tr>
            @foreach (var release in Model.Releases)
            {
                <tr>
                    <td>@release.Id</td>
                    <td>@release.Name</td>
                    <td>@release.Description</td>
                    <td>@release.Status</td>

                    <td>@release.Tags</td>
                    <td>@release.CreatedBy</td>
                    <td>@release.CreatedOn</td>
                </tr>
            }

        </tbody>
    </table>
</div>
